@import '../../configs/Colors.scss';

.MuiFormControl-root{
    .MuiInput-underline input{
        border: none;
        color: $primaryColor;
        background: $thirdColor;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
        box-shadow: 0 0 0 0;
        outline: 0;

        &:hover{
            cursor: pointer;
        }
    }
}

.MuiInput-underline:before {
    border-bottom: none !important;
}

.MuiInput-underline:after {
    border-bottom: none !important;
}
