@import '../../configs/Colors.scss';

.Sale {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .statics{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap: 40px;

        div.static-item{
            background: $thirdColor;
            color: $primaryColor;
            border-radius: 10px;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .icon{
                font-size: 3em;
            }

            h2{
                font-weight: 200;
            }
            span{
                font-size: 1.4em;
            }
        }
    }

    .buttons{
        button{
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            text-align: center;
            padding: 10px 20px;
            border: 1px solid $thirdColor;
            background: $thirdColor;
            color: $primaryColor;
            border-radius: 20px;
            cursor: pointer;

            &:hover{
                background: $hoverColor;
            }
        }
    }

    .sales{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
