@import '../../configs/Colors.scss';

.Confirm{
    .modal-header{
        background: $thirdColor;
        color: $primaryColor;
    }
    
    .modal-footer{
        button{
            background: $thirdColor;
            border-color: $thirdColor;
            color: $primaryColor;

            &:hover{
                filter: brightness(0.9);
            }
        }
        
    }
}