@import '../../configs/Colors.scss';

.ProviderModal{
    .modal-footer {
        div.buttons {
            display: flex;
            gap: 10px;

            button {
                color: $primaryColor;
                background: $thirdColor;
                border: none;

                &:hover{
                    background: $hoverColor;
                }
            }
        }
    }

    .grid-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}