@import '../../configs/Colors.scss';
.Product{
    .buttons{
        display: flex;
        gap: 10px;
        
        button{
            background: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;  
        }
    }

    .products-list{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}

.product-modal{
    .modal-header{
        background: $thirdColor;
        color: $primaryColor;
    }

    .modal-footer{
        button{
            background: $thirdColor;
            border-color: $thirdColor;
            color: $primaryColor;

            &:hover{
                filter: brightness(0.9);
            }
        }
        
    }
}