@import '../../configs/Colors.scss';

.ProductItem{
    display: grid;
    grid-template-columns: 5% 75% 15%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    background: $secondaryColor;
    border: 1px solid $thirdColor;
    height: 80px;
    border-radius: 10px;
    padding: 0 20px;

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primaryColor;
        font-size: 1.2em;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        background: $thirdColor;
    }
 
    .product-data{
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1.3fr 0.8fr 0.8fr 0.8fr;
        justify-content: space-between;
        .item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                display: block;
                color: $textColor;
                &.title{
                    color: $thirdColor;
                    font-weight: 500;
                }
            }
        }
        
    }

    .product-buttons{
        display: flex;
        justify-content: space-around;
        background: none;
        border: none;
        button{
            background: none;
            border: none;
            color: $fourthColor;
            font-size: 25px;

            &:hover{
                color: $hoverColor;
            }
        }
    }
}